@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="full-cover" src="@Url.Content("~/uploads/MovieCollage.png")" alt="Background" />
</div>
<div class="text-center">
    <br /><br /><br /><br />
    <h1 class="display-4 bluetext box-shadow text-border">RIIVYU</h1>
    <p class="bluetext box-shadow text-border">The #1 site for armchair film critics.</p>
</div>
